body {
  font-family: Tahoma, sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* 🔥 الخلفية */
  background: linear-gradient(
    -45deg,
    #0f172a,
    #1e293b,
    #0ea5e9,
    #6366f1
  );

  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;

  min-height: 100vh;
}